/* google fonts */
/* google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,900;1,500;1,700&display=swap');


/* general style */
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

html{
  scroll-behavior: smooth;
}

/* color */
/* color */
:root{
  --primary-color:#439ee9;
  --secondary-color:rgb(216, 152, 33);
  --white:#fff;
  --black:#000;
  --light-white:#cdcdcd;
  --light-black:#2d2b2b;  
}

/* container */
/* container */
.container{
  width: 90%;
  margin: 0 auto;
}


/* section */
/* section */
section{
  height: 60vh;
  padding: 2rem 0;
}

section:nth-child(odd){
  background: var(--light-white);
}

section h3{
  color: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
section p{
  color: var(--light-black);
  text-align: center;
  font-size:.9rem ;
}

/* navbar */
/* navbar */
#navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7rem 1rem;
  background: var(--light-black);
  position: fixed;
  width: 100%;
  z-index: 100;
}
#navbar .logo{
  color: var(--white);
  font-size: 2rem;
  font-weight: 900;
}
#navbar span{
  color: var(--secondary-color);
  text-shadow: 0 .1rem .02rem var(--primary-color);
}
#navbar ul li{
  display: inline;
  padding: 0 2rem;
 
}
#navbar ul li a{
  color: var(--white);
}
#navbar ul li a:hover{
  color: var(--secondary-color);
  font-size: 1rem;
}
#navbar .btn{
  background: var(--secondary-color);
  color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  text-align: center;
  border: none;
}

/* slider */
/* slider */
#slider{
  height: 80vh;
  padding: 0;
}
#slider .swiper{
  height: 100%;
}
#slider .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#slider .swiper .swiper-button-next,
#slider .swiper .swiper-button-prev
{
  color: var(--secondary-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--secondary-color);
}

/* sponsors */
/* sponsors */
#sponsors{
  height: 35vh;
}
#sponsors img{
  width: 10%;
  height: 10%;
  filter: grayscale(100%);
}
#sponsors img:hover{
  filter: grayscale(0%);
  
}
#sponsors .sponsors{
  display: flex;
  justify-content: space-between;
}

/* courses */
/* courses */
#courses{
  height: 100vh;
}
#courses .grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#courses .grid .card{
  height: 38vh;
  border-radius: .3rem;
  padding: .5rem .7rem;
  box-shadow: 0 .3rem .5rem var(--light-black);
  text-align: center;
  position: relative;
}
#courses .grid .card .icon{
  font-size: 3rem;
  color: var(--secondary-color);
}
#courses .grid .card h5{
  font-size: 1.2rem;
}
#courses .grid .card .start i{
  color: var(--secondary-color);
}
#courses .grid .card .start i:last-child{
  color: var(--light-black);
}
#courses .grid .card  .rating{
  color: var(--light-white);
  background: var(--secondary-color);
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  bottom: 0;
}

/* about */
/* about */
#about{
  height: 50vh;
}
#about p{
  font-size: 1.2rem;
  font-weight: 500;
}
#about .wrap{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
  
}
#about .wrap .card{
  height: 15vh;
  border-radius: .3rem;
  padding: .5rem .7rem;
  box-shadow: 0 .3rem .5rem var(--light-black);
  text-align: center;  
}
#about .wrap .card h4{
  color: var(--secondary-color);
  font-size: 1.3rem;
}
#about .wrap .card h5{
  text-transform: capitalize;
  font-weight: 800;
}

/* contact */
/* contact */
#contact{
  height: 85vh;
}

#contact .columns{
  justify-content: space-evenly;
  text-align: center;
}
#contact .forms{
  width: 100%;
}
#contact .forms .form-group{
  margin: 2.6rem;
  padding: .25rem 0;
}
#contact .forms .form-group label{
  display: block;
}
#contact .forms .form-group input{
  width: 30vw;
  height: 5vh;
  border-radius: .3rem;
}
#contact .forms .form-group textarea{
  width: 30vw;
  height: 10vh;
  border-radius: .3rem;
}
#contact .forms button{
  background: var(--secondary-color);
  color: var(--white);
  padding: .9rem 2rem;
  margin-left: 2.6rem;
  border-radius: .3rem;
}

/* footer */
/* footer */
#footer{
  height: 30vh;
  text-align: center;
}
#footer .icons i{
  color: var(--light-black);
  font-size: 1.5rem;
} 
#footer .p{
  font-weight: 600;
}
#footer .icons i:hover{
  color: var(--secondary-color);
}






/* media */
/* media */
@media only screen and (max-width:502px){
  /* navbar */
#navbar{
  height: 15vh;
  display: flex;
  flex-direction: column;
}
#navbar span{
  color: var(--secondary-color);
  text-shadow:none
}
#navbar ul li{
  display: inline;
  padding: 0 .7rem;
 
}
#navbar ul li a{
  color: var(--white);
}
#navbar ul li a:hover{
  color: var(--secondary-color);
  font-size: 1rem;
}
#navbar .btn{
  display: none;
}
 

/* slider */
/* slider */
#slider{
  height: 55vh;
  padding: 0;
}


/* sponsors */
/* sponsors */
#sponsors{
  height: 20vh;
}


/* courses */
#courses{
  height: auto;
}

#courses .grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#courses .grid .card{
  height: 40vh;
  border-radius: .3rem;
  padding: .5rem .7rem;
  box-shadow: 0 .3rem .5rem var(--light-black);
  text-align: center;
  position: relative;
}

/* about */
/* about */
#about{
  height: auto;

}
#about .wrap{
  display: grid;
  gap: 1rem;
  grid-template-columns:1fr;
  
}



/* contact */
/* contact */
#contact{
  height: auto;
}
#contact .forms button{
  background: var(--secondary-color);
  color: var(--white);
  padding: .6rem 3rem;
  margin-left: 2rem;
  border-radius: .3rem; 
}

/* footer */
#footer{
  height: 20vh;
  text-align: center;
}











  
}